  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
    <div fxFlex fxFlexOffset.gt-md="18">
      <div fxFlex>
        <md-list>
          <md-nav-list>
            <md-list-item class="listItemProductos" [routerLink]="['/']">
              <strong>Seguir Seleccionando</strong>
            </md-list-item>
            <md-divider></md-divider>
            <div *ngFor="let p of carrito">
              <md-list-item class="listItemProductos">
                <img class="imgAvatar" md-list-avatar src="../../assets/placeholderProducto.png">
                <p md-line>{{p.prod.codigo}}</p>
                <p md-line class="descripcion-producto">{{p.prod.descripcion}}</p>
                <p md-line>
                  Lista <strong>{{p.prod.precioLista | sicComCurrency }}</strong>
                </p>
                <p md-line>
                  Contado <strong>{{p.prod.precioVentaPublico | sicComCurrency }}</strong>
                </p>
                <p md-line>
                  Cantidad <strong>{{p.cant}}</strong>
                </p>
                <p md-line>
                  Sub Total Lista <strong>{{(p.cant * p.prod.precioLista) | sicComCurrency }}</strong>
                </p>
                <p md-line>
                  Sub Total Contado <strong>{{(p.cant * p.prod.precioVentaPublico) | sicComCurrency }}</strong>
                </p>
              </md-list-item>
              <md-divider></md-divider>
            </div>
            <md-list-item class="listItemProductos">
              <p md-line>
                Cantidad articulos <strong>{{cantidadArticulos}}</strong>
              </p>
              <p md-line>
                Total Lista <strong>{{totalLista | sicComCurrency }}</strong>
              </p>
              <p md-line>
                Total Contado <strong>{{totalContado | sicComCurrency }}</strong>
              </p>
            </md-list-item>
          </md-nav-list>
        </md-list>
      </div>
    </div>
  </div>
