  md-card {
    margin: 0px;
    img {
      width: 100%;
      max-width: 200px;
    }
  }

  md-card-header {
    width: 100%;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #f05724;
    padding: 5px 0px;
  }

  md-card-title {
    width: 100%;
    margin-bottom: 5px;
    color: #f05724;
  }

  md-card-subtitle {
    width: 100%;
    font-size: 11px;
  }

  md-card-content {
    width: 100%;
  }

  md-card-actions {
    border-top: 1px solid #f05724;
    width: 100%;
    padding: 10px;

    .cantidad {
      border: none;
      border-bottom: solid 1px #f05724;
      color: #000;
      font-size: 17px;
      -webkit-border-radius: 10px 0 0 10px;
      -moz-border-radius: 10px 0 0 10px;
      border-radius: 10px 0 0 10px;
      width: 100%;
      padding: 5px;
    }

    .app-comComprar {
      padding: 5px;
      width: 100%;
    }

    .app-comCerrar {
      padding: 5px;
      width: 100%;
    }
  }
