<div fxLayout="column" class="linea">
  <div fxFlex fxLayoutAlign="center" *ngIf="loadingProducts && (productos.length === 0)">
    <md-spinner></md-spinner>
  </div>
  <div *ngIf="!loadingProducts && (productos.length === 0)" fxLayoutAlign="center" class="sinResultados">
    <i class="material-icons">sentiment_neutral</i>
    &nbsp;Sin resultados
  </div>
  <div fxFlex>
    <md-list>
      <md-nav-list>
        <div *ngFor="let p of productos">
          <md-list-item class="listItemProductos" (click)="openDialog(p)">
            <img class="imgAvatar" md-list-avatar src="../../assets/placeholderProducto.png">
            <p md-line>{{p.codigo}}</p>
            <p md-line class="descripcion-producto">{{p.descripcion}}</p>
            <p md-line>{{p.cantidad}} / {{p.medida.nombre}}</p>
            <p md-line>
              <strong>{{p.precioLista | sicComCurrency }}</strong>
            </p>
          </md-list-item>
          <md-divider></md-divider>
        </div>
        <md-list-item (click)="masProductos()"
                      *ngIf="(productos.length>0) && (totalPaginas > (pagina + 1)) && !loadingProducts"
                      class="sic-com-mas-resultados"
                      fxLayoutAlign="center center">
          <p md-line>
            <strong class="masResultados">MAS RESULTADOS</strong>
          </p>
        </md-list-item>
        <md-list-item *ngIf="loadingProducts && (productos.length > 0)">
          <md-spinner class="spinnerProductos"></md-spinner>
        </md-list-item>
      </md-nav-list>
    </md-list>
  </div>
</div>
