<md-toolbar class="md-toolbar">
  <div fxFlex="16" fxFlex.gt-sm='18' fxLayoutAlign="center">
    <img fxHide.lt-md src="assets/header.png" class="logoImg">
    <img fxHide.gt-sm src="assets/header_movile.png" class="logoImgCelular">
  </div>
  <div fxFlex class="navbar-search" fxLayoutAlign="center">
    <input class="inputSearch" #buscador placeholder="Buscar producto"
           type="search" (keyup.enter)="buscarProductos(buscador.value)">
    <md-icon class="buscador" (click)="buscarProductos(buscador.value)">search</md-icon>
  </div>
  <div fxFlex="10" fxLayoutAlign="center">
    <!--<div fxHide.lt-md>
          <button md-icon-button (click)="sidenav.open()">
            <md-icon>shopping_cart</md-icon>
          </button>
      </div>-->
    <div fxHide.gt-sm>
      <button md-icon-button (click)="toggleSidenav()">
        <md-icon>more_vert</md-icon>
      </button>
    </div>
    <div fxHide.lt-md>
      <button md-icon-button [routerLink]="['/login']">
        <i class="material-icons">power_settings_new</i>
      </button>
    </div>
  </div>
</md-toolbar>
