<div fxFlex="86" class="products-derecha">
  
  <md-list>
    <div *ngFor="let product of productos">
      <md-nav-list>
        <md-list-item>
          <img class="imgAvatar" md-list-avatar src="../../assets/placeholderProducto.png">

          <h3 md-line >{{product.codigo}}</h3>
          <p md-line class="descripcion-products-list">
            <strong>
              <span style="word-wrap: break-word;">{{product.descripcion}}</span>
            </strong>
          </p>
          <p md-line>{{product.cantidad}} / {{product.medida.nombre}} </p>
          <p md-line><strong>${{product.precioLista | number:'1.2'}}</strong></p>
          <md-divider></md-divider>
        </md-list-item>
      </md-nav-list>
      <md-divider></md-divider>
    </div>
  </md-list>
</div>
